<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="font-effect-putting-green" style="text-align:center">Hobbies</h1>
    </div>
  </div><!--end of 1st row-->
  
  <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,90,180);">
  
  <div class="row">
    <div class="col-md-3"><br>
      <img src="https://farm8.staticflickr.com/7460/14011462899_cbb6f6b1d9_o_d.jpg" class="img-circle" width="250" height="110" alt="My Movie Logo">
    </div>
    <div class="col-md-9">
  
      <h3>Science</h3>
        <p style="text-align:center; background-color:#00ff99; border-radius:10px;">Biology, Chemistry and mostly Physics made me intereested in science. I like to experiments things and search online about cool experiments. I recently made a leyden jar which shocks people when it is charged by a conductor. It was fun seeing peoples reaction after they got shocked. I also like to watch movies that are science fiction like The Terminator, The Avengers, and Star wars and many more. Here are images of those movies.
        </p>
    </div>    
  </div><!--end of 2nd row-->   
  
  <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,90,180);">
  
  <div class="row">  
    <div class="col-md-3">  
        <img src="http://img.lum.dolimg.com/v1/images/tfa_poster_wide_header_adb92fa0.jpeg?region=61%2C271%2C1937%2C1089&width=600" class="img-rounded" width="260" height="190" alt="Star Wars Image">
    </div>
    <div class="col-md-3">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/d2/Back_to_the_Future.jpg" class="img-rounded" width="260" height="190" alt="back to the future">
    </div>
    <div class="col-md-3">
        <img src="http://www.reviewandroast.com/wp-content/uploads/2015/09/TheMartian.jpg" class="img-rounded" width="210" height="190" alt="The Martian">
    </div>
    <div class="col-md-3">
        <%= video_tag "videos/trailer.mp4", :size => "310x190", :controls => true %>
    </div>
  </div><!--end of 3rd row-->
  
  <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,90,180);">
  
    <div class="row">  
      <div class="col-md-12">
      <h3>My Tech</h3>
        <p style="background-color:#00ff99; border-radius:10px;">I love technology. I like coding, research new technoloyg out there, using photoshop and many more things.I like engineering so that is why I joined robotics club and technology lap in my school. I like to play with technology gadgets and take out parts from old and new devices and research how it works. So, that makes me more interested. I also like to watch technology movies. My favorite tech movies are <i>The matrix, Live Free or die Hard, Chappy, Eagle Eye, irobot</i> and many more. It relates me being in robotics.</p>
      </div>
    </div><!-- end of 4th row-->
    
    <div class="row">
      <div class="col-md-12">  
        <img src="https://subliminalspaces.files.wordpress.com/2013/08/thematrix.jpg" class="img-rounded" width="210" height="150" alt="The Matrix">
        <img src="http://www.thecoolector.com/wp-content/uploads/2014/11/Chappie-Poster.jpg" class="img-rounded" width="210" height="150" alt="Chappy Movie">
        <img src="http://adventureamigos.net/wp-content/uploads/2013/02/live-free-die-hardbest-iphone-games-45.jpg" class="img-rounded" width="210" height="150" alt="Live Free Movie">
      </div>
    </div><!--end of 5th row-->    
    
    <div class="row">
      <div class="col-md-12">
        <footer>
    <div style="position: fixed; bottom: 0; width:100%; text-align:center;">
      <nav>
        <a href="http://www.starwars.com/" class="hlight">Star Wars</a> |
        <a href="http://www.imdb.com/title/tt0133093/" class="hlight">The Matrix</a> |
        <a href="http://www.imdb.com/title/tt1823672/" class="hlight">Chappy</a> |
      </nav>
    </div>
  </footer>
      </div>
    </div>
  
  
  <!--image rubies example
    <div class="text-center">
      <img class="img-circle" src="/assets/d-id.jpg">
    </div>
  -->
  
  
  </div>