<div class="container">
  <h1 class="font-effect-fire-animation" style="text-align:center">Mather High School</h1>
  
  <div class="row">
    <div class="col-md-5">
        <br><br>
        <img src="https://s3-us-west-2.amazonaws.com/scorestream-team-profile-pictures/teamPic116115-3073-ymxy4r.jpg" class="img-rounded" width="400" height="300"alt="matherhs">
    </div>
    <div class="col-md-7">
        <div class="border1">
                <h3 class="font-effect-3d-float" style="color: #800000; ">Reasons To Go To Mather</h3>
            <p>Mather High School is great place to go for education from eight grade to High School. I'm saying this because I'm currently attending it and it is close to my house. Before I came to this school, I heard it is not good- I don't know why- but I like it here. This school has great oppurtunies because they offer many Advanced Placement(AP) classes, Honor classes, schorlarship programs, diversity, clubs, and Sports. Advanced Placement classes are college level classes; which will get you college credit, you get to experience little bit of college and you don't need to attend that class in college. After, you take the class, you have to take an Advanced Placement(AP) test which is &#36;25. </p>
            </div>
    </div>
  </div>
</div>