<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1 class="font-effect-outline" style="text-align:center">About me</h1>
        </div>
    </div>
    <!--end of 1st row-->
    
    <div class="row">
      <div class="col-md-3">
            <img src="http://fon.fairobserver.netdna-cdn.com/wp-content/uploads/2013/05/shutterstock_88454563.jpg" alt="technology" class="img-rounded" width="250" height="200">
        </div>
       <div class="col-md-9"> 
            <div class="border2">
                <h3>About Me</h3>
            <p>My name is Mohammed Shajiuddin. I am from India, Hyderabad. I am currently going to mather High School. I'm a outgoing person. I like to hang out with friends and play outside. I'm a junior and I'll be graduting Mather in the year 2017. I'm planning to take the ACT in may and I was taking saturday classes so that I can get a good score on the ACT. I'm trying to do whatever I can to get a good score on the ACT.</p>
            </div>
        </div>
        
    </div>
    <!--end of 2nd row-->
    
    <br>
    <div class="row">
        <div class="col-12-md">
            <div id="table">
              <table border="3px">
                  <tr>
                    <th colspan="5" style="text-align: center;">My Class Schedule</th>
                  </tr>
                  <tr>
                    <td rowspan="8"><img src="https://pixabay.com/static/uploads/photo/2013/07/17/14/47/clock-163202_960_720.jpg" class="img-rounded" width="210" height="190" alt="Star Wars Image"></td>
                    <th>Teacher</th>
                    <th>Class</th>
                    <th>Period</th>
                    <th>Room Number</th>
                  </tr>
                  <tr>
                    <td>Mrs.Remess</td>
                    <td>Web I(H)</td>
                    <td>1st and 2nd</td>
                    <td>219</td>
                  </tr>
                  <tr>
                    <td>Mr.Demitopoulos</td>
                    <td>Psychology(R)</td>
                    <td>3rd</td>
                    <td>426</td>
                  </tr>
                  <tr>
                    <td>Mrs.Ortiz</td>
                    <td>ADV/Trig(H)</td>
                    <td>4th</td>
                    <td>208</td>
                  </tr>
                  <tr>
                    <td>Mrs.Levy</td>
                    <td>Spanish(H)</td>
                    <td>5th</td>
                    <td>208</td>
                  </tr>
                  <tr>
                    <td>None</td>
                    <td>Lunch</td>
                    <td>6th</td>
                    <td>Cafetaria(437)</td>
                  </tr>
                  <tr>
                    <td>Ms.Carrion</td>
                    <td>English III(H)</td>
                    <td>7th</td>
                    <td>208</td>
                  </tr>
                  <tr>
                    <td>DR. West</td>
                    <td>physics(H)</td>
                    <td>8th</td>
                    <td>712</td>
                  </tr>
                
                </table>
            </div>
        </div>
   </div>   

</div>  