<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="font-effect-destruction" style="text-align:center">Sports</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Jordan_by_Lipofsky_16577.jpg" class="img-thumbnail" alt="jordon" width="250" height="100">
        </div>
        <div class="col-md-9">
        <div class="border1">
            <h3>My Sports</h3>
        <p>I like to play all sports. I mostly like swimming but I can't swim. So, I have to learn to swim. I used to play basketball, football, soccer, but now I don't have time so I don't play those sports. I played basketball, footbal, goif, soccer, baseball, cricket adn many more. whenever I go to my cousins house I play soccer, footbal or basketball.</p>
        </div>
        <!--
        <%= image_tag ("d-id.jpg")%>
        <br>
        -->
        </div>
    </div>
</div>